<div id="page_end_html">
    <script type="text/javascript">
        var a_idx = 0;
        jQuery(document).ready(function($) {
            $("body").click(function(e) {
                var a = new Array(
                    "不是看到希望才会坚持，而是坚持才会看到希望",
                    "经的起失败，也享受的了成功",
                    "地位可以卑微，但灵魂必须高贵",
                    "拼自己想要的，争自己所没有的",
                    "性格决定命运，选择大于努力，成功在于坚持",
                    "人非圣贤，孰能无过",
                    "穷不学穷不尽，富不学富不长",
                    "每天进步一点点",
                    "天道酬勤 财散人聚 财聚人散",
                    "做人 > 说话 > 做事",
                    "不经历风雨，怎能见彩虹",
                    "人生没有彩排，每天都是现场直播",
                    "格局有多大，世界就有多大",
                    "困难似弹簧，你弱它就强，你强它就弱",
                    "人无远虑，必有近忧",
                    "放低姿态，可以学到最多的东西",
                    "面子是啥，面子就是鞋垫子",
                    "脾气永远不要大于资本",
                    "人可以有傲骨，但不能有傲气",
                    "越没本事的人越有脾气，越有本事的人越没有脾气",
                    "穷人穷的不是没有钱，而是穷的是思想",
                    "想与不想选择想，做与不做选择做",
                    "低调做人，高调做事",
                    "无论做什么，身体才是革命的本钱",
                    "做人要有梦想，万一哪天实现里呢",
                    "似金钱如粪土，看淡功名利禄",
                    "有才华的人，钱会接近你，没有才华的人，钱会远离你",
                    "人至贱则无敌",
                    "小赢靠智，大赢靠德，德行天下",
                    "万丈红尘千杯酒，千秋大业一壶茶",
                    "人痛苦的本质是因为自己的无能",
                    "做一个站在风浪上的男人，永远也不会被拍到",
                    "有口才的人一定是人才，是人才的人不一定有口才",
                    "有志之人压不倒，无志之人扶不起",
                    "借口永远都是为那些需要他的人准备的",
                    "看淡世间沧桑，内心安然无恙",
                    "淡泊以明志，宁静而志远",
                    "读万卷书，不如行万里路，行万里路，不如阅人无数",
                    "一屋不扫，何以扫天下",
                    "我是良仔~"
                );
                var $i = $("<span></span>").text(a[a_idx]);
                a_idx = (a_idx + 1) % a.length;
                var x = e.pageX,
                    y = e.pageY;
                $i.css({
                    "z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
                    "top": y - 20,
                    "left": x,
                    "position": "absolute",
                    "font-weight": "bold",
                    "color": "rgb("+~~(255*Math.random())+","+~~(255*Math.random())+","+~~(255*Math.random())+")"
                });
                $("body").append($i);
                $i.animate({
                        "top": y - 180,
                        "opacity": 0
                    },
                    3000,
                    function() {
                        $i.remove();
                    });
            });
        });
    </script>
</div>