<!-- Bootstrap core JavaScript-->
<script src="{{ site.baseurl }}/js/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/hc.js"></script>
<script src="{{ site.baseurl }}/js/mouse.js"></script>
<script src="{{ site.baseurl }}/js/sweet-alert.min.js"></script>
<script src="{{ site.baseurl }}/js/dpflow.js"></script>
<script src="{{ site.baseurl }}/js/dpflow-func.js"></script>
<script src="{{ site.baseurl }}/js/danceword.js"></script>
<script src="{{ site.baseurl }}/js/aos.js"></script>
<script src="{{ site.baseurl }}/js/gotop.js"></script>
<script src="{{ site.baseurl }}/js/baguetteBox.js"></script>
<script async="" src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>

