	.tanchu-head {
		top: 45%; 
		left: 55%;
		margin-left: -300px;
		width: 520px;
		background: #eee; /**url(modal-gloss.png) no-repeat -200px -80px;*/
		position: fixed;
		z-index: 111;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
	}
	.tanchu-shade { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.3);
		z-index: 100;
		top: 0;
		left: 0; 
	}
	.tanchu-head .tanchu-close {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 14px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
	} 

