---
layout: default
---

<link href="{{ site.baseurl }}/css/highlight.css" rel="stylesheet">
<div id="article" aos="zoom-in-up">
  <div class="article-title">{{ page.title }}</div>
  <p class="meta">
    <small>
      &nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}
    </small>
  </p> <hr/>
  <div class="post">
    {{ content }}
  </div>
  {% include dashang.html %}
  {% include jiathis.html %}
  <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<!--
  <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
  <script>
    var cloudTieConfig = {
      url: document.location.href, 
      sourceId: "",
      productKey: "b08f6f361cff4c61a75f8fdcdd051e1f",
      target: "cloud-tie-wrapper"
    };
    var yunManualLoad = true;
    Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
  </script>
</div>
-->
<!-- UY BEGIN -->
<!--
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2133540"></script>
-->
<!-- UY END -->

<script src="{{ site.baseurl }}/js/highlight.min.js"></script>
<script src="{{ site.baseurl }}/js/fokus.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<br/>
{% include pager.html %}

<!-- gitment begin -->
<div id="gitment"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment=new Gitment({
		id:'note',
		owner:'liangrengongzuoshi',
		repo:'liangzai.pub',
		oauth:{
			client_id:'9904ca6019f3a948d4f3',
			client_secret:'86bec38ca036c9e8b5890613051d69f6fd0d7a4e'
		}
});
gitment.render('gitment');
</script>
<!-- gitment end -->
