---
layout: default
---

<link href="{{ site.baseurl }}/css/highlight.css" rel="stylesheet">
<div id="article" aos="zoom-in-up">
  <div class="article-title">{{ page.title }}</div>
  <p class="meta">
    <small>
      &nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}
    </small>
  </p> <hr/>
  <div class="post">
    {{ content }}
  </div>
</div>

<script src="{{ site.baseurl }}/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% include gotop.html %}
{% include pager.html %}
